In [1]:
import numpy as np
import pandas as pd

from collections import Counter

## Numpy Challenge

In [2]:
np.random.seed(100)
arr = np.random.randint(1,11,size=(6, 10))
arr

array([[ 9,  9,  4,  8,  8,  1,  5,  3,  6,  3],
       [ 3,  3,  2,  1,  9,  5,  1, 10,  7,  3],
       [ 5,  2,  6,  4,  5,  5,  4,  8,  2,  2],
       [ 8,  8,  1,  3, 10, 10,  4,  3,  6,  9],
       [ 2,  1,  8,  7,  3,  1,  9,  3,  6,  2],
       [ 9,  2,  6,  5,  3,  9,  4,  6,  1, 10]])

#### Solution 1

In [3]:
#Create a list of numbers from 1 to 10
num_lst = [i+1 for i in range(10)]
num_lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
arr_result = [] #Store the result in a list

for row in arr:
    num_count = dict(Counter(row)) #Count the occurrences for each number in the current row and store in a dictionary
    row_result = [] #Store the result for each row in a list
    for num in num_lst:
        row_result.append(num_count.get(num,0)) #For each number from 1-10, look up the occurences in num_count;
                                                    #if num_count doesn't have that number, return 0
    arr_result.append(row_result)

arr_result

[[1, 0, 2, 1, 1, 1, 0, 2, 2, 0],
 [2, 1, 3, 0, 1, 0, 1, 0, 1, 1],
 [0, 3, 0, 2, 3, 1, 0, 1, 0, 0],
 [1, 0, 2, 1, 0, 1, 0, 2, 1, 2],
 [2, 2, 2, 0, 0, 1, 1, 1, 1, 0],
 [1, 1, 1, 1, 1, 2, 0, 0, 2, 1]]

#### Solution 2

In [5]:
#Use np.bincount to count the occurences of each integer from 0 to the max value of an array
#Because bincount counts from 0 but we want to count from 1, pass arr-1 as parameter
#Use min_length=10 to force bincount to always count to 10
#Because bincount only takes 1D array as input, use apply_along_axis to loop through the rows in our 2D array

arr_result = np.apply_along_axis(np.bincount, axis=1, arr=arr-1, minlength = 10)

arr_result

array([[1, 0, 2, 1, 1, 1, 0, 2, 2, 0],
       [2, 1, 3, 0, 1, 0, 1, 0, 1, 1],
       [0, 3, 0, 2, 3, 1, 0, 1, 0, 0],
       [1, 0, 2, 1, 0, 1, 0, 2, 1, 2],
       [2, 2, 2, 0, 0, 1, 1, 1, 1, 0],
       [1, 1, 1, 1, 1, 2, 0, 0, 2, 1]], dtype=int64)

## Pandas Challenge

In [6]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv', usecols=[0,1,2,3,5])

In [7]:
#Fill n/a values in selected columns with 'missing'
cols= ['Manufacturer', 'Model', 'Type']
df[cols] = df[cols].fillna('missing')

In [8]:
#Change the df index by joining 3 columns with a '_' separator
df.index = df['Manufacturer'] + '_' + df['Model'] + '_' + df['Type']

In [9]:
df.index.is_unique

True

The index is unique for each row, therefore passes the first requirement to be a primary key.

In [10]:
(df.Manufacturer + df.Model).is_unique

True

However we can find a subset of the index that is also unique for each row, therefore the index is not minimal, which is another requirement to be a candidate and primary key.

In [11]:
df.head()

                       Manufacturer    Model     Type  Min.Price  Max.Price
Acura_Integra_Small           Acura  Integra    Small       12.9       18.8
missing_Legend_Midsize      missing   Legend  Midsize       29.2       38.7
Audi_90_Compact                Audi       90  Compact       25.9       32.3
Audi_100_Midsize               Audi      100  Midsize        NaN       44.6
BMW_535i_Midsize                BMW     535i  Midsize        NaN        NaN

We can see that 'Type' is only a descriptive attribute of each car model, not a defining part of the model itself (each car model can only be of one type). Therefore the 'Type' column is redundant in the primary key.

In [12]:
df.Model.is_unique

True

We can further see that the model name is unique for each row just by itself, so in theory the 'Model' column is enough for the primary key.

However it is possible that two car brands might use the same model name in the future, so the more reasonable primary key combination should be 'Manufacturer + Model'.